


section li{
    position: relative; padding-left:15px; border-bottom:1px solid #ccc; background-color:#fff; padding:10px;
}
section li h3{
    padding-bottom:10px;
}
section li p{
    padding-bottom:20px;
}
section li .tel{
    color:#ccc; font-style:normal;
}
.edit{
    position:absolute; right:40px; top:20px; font-style:normal;
}