*{
    margin:0;
    padding:0;
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
}
#root,#root>div:last-child{
    width: 100%;
    height: 100%;
}
.cinema{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cinema .Chead{
    width: 100%;
    height: 44px;
    background: crimson;
}
.cinema .Chead h3{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;
    color:#fff;
}
.cinema .Csection{
    width: 100%;
    flex:1;
    display: flex;flex-direction: column;
}
.cinema .Csection .title{
    width: 100%;
    height: 44px;
    display: flex;
}
.cinema .Csection .title .left{
    width: 75%;
    height: 100%;
    display: flex;
    border-bottom:1px solid #ccc;
}
.cinema .Csection .title .left p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;
}
.cinema .Csection .right{
    flex:1;
    height: 100%;
    text-align: center;
    line-height: 44px;
    border:1px solid #ccc;
}
.cinema .Csection .datelist{
    width: 100%;
    flex:1;
    overflow:scroll;
}
.cinema .datelist li{
    width: 100%;
    height: 200px;
    display: flex;
}
li .img{
    width: 100px;
    height: 100%;
}
.img img{
    width: 90%;
    margin-left: 5px;
    margin-top:15px;
}
li .about{
    flex:1;
    padding:15px;
    height: 100%;
} 
li .look{
    width: 50px;
    padding:15px 5px;;
    height: 100%;
}
.look p{
    text-align: center;
}
.cinema .Cfoot{
    width: 100%;
    height: 44px;
    display: flex;
}
.cinema .Cfoot p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;
}